body { margin: 0; padding: 0; color: black;}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
a { color: white; }

.legend, .settings, .info {
    background-color:rgb(0, 0, 0);
    opacity: 0.9;
    border-radius: 5px;
    font-size:12px;
    font-family:  'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.legend {
    right: 10px;
    bottom: 40px;
    max-width: 150px;
}

.settings {
    top: 10px;
    left: 10px;
}

.info {
    bottom: 40px;
    left: 10px;
}


 
.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    opacity: 0.7;
}

.legendcolors{
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin: 0px;
}

@media screen and (max-width: 1024px) {
    .legend, .settings, .info {
        border-radius: 10px;
        font-size:16px;
    }

    .legend {
        max-width: 200px;
    }

    .legend div span {
        height: 16px;
        width: 16px;
    }
}

@media screen and (max-height: 375px )
{
    #legendcolors {
        float: left;
        width: fit-content;
    }

    div[class*="step"] {
        float:left;
    }

}

.settingsseparation {
    margin-top: 5px;
    margin-bottom: 5px;
}

.infoandshare {
    width: 100%;
    vertical-align: middle;
}

.infoentry {
    margin-right: 10px;
    float: left;
}

#show-hide-info, #show-hide-legend, #show-hide-settings {
    cursor: pointer;
}

input[type="number"], select, button {
    padding:2px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

input[type="number"] {
    width: 40px;
}

.mapboxgl-popup-close-button {
    display: none;
}
  
.mapboxgl-popup-content {
    font-family:  'Open Sans', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    padding: 2px;
    min-width: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
  
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: rgba(0, 0, 0, 0.8);
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(0, 0, 0, 0.8);
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(0, 0, 0, 0.8);
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.nice-underline {
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.nice-underline-dashed {
    text-decoration: none;
    border-bottom: 1px dashed rgba(255,255,255,.5);
}